html {
	overflow: hidden;
}

.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.environment {
	background-image: url('../public/images/busStop.webp');
	background-size: contain;
}

.bus {
	position: absolute;
	border-radius: 40px 200px 40px 20px;
}

.door {
	width: 16%;
	height: 77%;
	background-color: brown;
	position: absolute;
	right: 28%;
	bottom: 0%;
}

.doorFrame {
	width: 6.5%;
	height: 65%;
	background-color: white;
	position: absolute;
	border-radius: 5%;
	bottom: 5%;
	margin-right: 28%;
}

.driver {
	width: 16%;
	height: 38%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 10%;
	top: 23%;
	border-radius: 10%;
	background-color: blue;
}

.window {
	width: 10%;
	height: 25%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 23%;
	border-radius: 10%;
}

.rims {
	width: 20%;
	height: 28%;
	background-color: saddlebrown;
	position: absolute;
	top: 72%;
	left: 5%;
	border-radius: 300px 300px 0px 0px;
}

.rims::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: saddlebrown;
	position: absolute;
	left: 350%;
	border-radius: 300px 300px 0px 0px;
}

.outerTyres {
	width: 15%;
	height: 30%;
	background-color: black;
	position: absolute;
	top: 78%;
	left: 7%;
	border-radius: 55%;
}

.outerTyres::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	left: 470%;
	border-radius: 50%;
}

.innerTyres {
	width: 10%;
	height: 20%;
	background-color: white;
	position: absolute;
	top: 82%;
	left: 9%;
	border-radius: 50%;
	border: 2px dashed black;
	animation: rotate 1s infinite linear;
}

.innerTyres::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	left: 705%;
	border-radius: 50%;
	border: 2px dashed black;
	transform: rotate 1s infinite linear;
	;
}

.road {
	width: 100%;
	bottom: 0%;
	background-color: grey;
	position: absolute;
}

.stripes {
	width: 10%;
	height: 3%;
	background-color: white;
	position: absolute;
}

@keyframes busForward {
	0% {
		transform: translate(-200px);
	}

	100% {
		transform: translate(1000px);
	}
}

@keyframes busReverse {
	0% {
		transform: translate(200%) scaleX(-1);
	}

	100% {
		transform: translate(-200%)scaleX(-1);
	}
}

@keyframes nextBusForward {
	0% {
		transform: translate(200px);
	}

	100% {
		transform: translate(1400px);
	}
}

@keyframes nextBusReverse {
	0% {
		transform: translate(1000px) scaleX(-1);
	}

	100% {
		transform: translate(0px)scaleX(-1);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}
