html {
	overflow: hidden;
}

.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.environment {
	background-image: url('../public/images/busStop.webp');
	background-size: contain;
}

.road {
	width: 100%;
	bottom: 0%;
	background-color: grey;
	position: absolute;
}

.stripes {
	width: 10%;
	height: 3%;
	bottom: 50%;
	background-color: white;
	position: absolute;
}

.bus {
	position: absolute;
	border-radius: 40px 100px 40px 20px;
}

.driver {
	width: 16%;
	height: 38%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 10%;
	top: 23%;
	border-radius: 10%;
	border: 3px solid saddlebrown;
}

.doors {
	width: 14%;
	height: 77%;
	background-color: brown;
	position: absolute;
	right: 28%;
	bottom: 0%;
}

.doorFrame {
	width: 40%;
	height: 85%;
	background-color: white;
	position: absolute;
	border-radius: 5%;
	bottom: 6%;
}

.window {
	width: 10%;
	height: 25%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: red;
	position: absolute;
	top: 23%;
	border-radius: 10%;
	border: 3px solid saddlebrown;
}

.wheelCover {
	background-color: whitesmoke;
	width: 16vmin;
	height: 8vmin;
	border-top-left-radius: 16vmin;
	border-top-right-radius: 16vmin;
	bottom: 0%;
	position: absolute;
}

.outerWheel {
	background-color: black;
	height: 12vmin;
	width: 12vmin;
	border-radius: 50%;
	margin: 2vmin;
	position: absolute;
}

.innerWheel {
	background-color: lightgreen;
	height: 6vmin;
	width: 6vmin;
	border-radius: 50%;
	border: 6px dashed brown;
	animation: rotate 5s linear infinite;
	margin: calc(3vmin - 6px) auto;
}

.indicators {
	width: 3%;
	height: 14%;
	position: absolute;
	left: -3%;
}

.topCarrier {
	width: 70%;
	height: 10%;
	position: absolute;
	top: -10%;
	background-color: brown;
	border-radius: 25% 25% 0% 0%;
	left: 5%
}

.luggageSection {
	width: 25%;
	height: 30%;
	position: absolute;
	bottom: 7%;
	background-color: grey;
	left: 22%
}

.luggageSecHandle {
	width: 8%;
	height: 2%;
	position: absolute;
	bottom: 10%;
	background-color: black;
	left: 30%
}

.mirror{
	width:4%;
	height:25%;
	position: absolute;
	top:4%;
	right:-1.5%;
	border-radius: 30%;
	background-color: yellow;
}

.mirrorHandle{
	width:10%;
	height:4%;
	position: absolute;
	top:4%;
	right:0%;
	background-color: yellow;
	border-top-right-radius: 30%;
	border-bottom-right-radius: 30%;
	transform: skewX(50deg);
}

@keyframes busForward {
	0% {
		transform: translate(-120%);
	}

	100% {
		transform: translate(400%);
	}
}

@keyframes busReverse {
	0% {
		transform: translate(100%) scaleX(-1);
	}

	100% {
		transform: translate(-450%)scaleX(-1);
	}
}

@keyframes nextBusForward {
	0% {
		transform: translate(-350%);
	}

	100% {
		transform: translate(190%);
	}
}

@keyframes nextBusReverse {
	0% {
		transform: translate(200%) scaleX(-1);
	}

	100% {
		transform: translate(-200%)scaleX(-1);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}
